main {
  margin-top: 2em;
  min-height: 80vh;
}
/* Bild på startsida */
.banner img {
  display: block;
  width: 100%;
  max-width: 1920px;
  height: auto;
}

/* Länkar */
a {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}

a:hover {
  color: #4c6b9c; 
}

/* Navbar brand länk */
a.navbar-brand {
  font-weight: normal;
  text-transform: uppercase;
}

footer {
  position: relative !important;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}